<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="https://unpkg.com/nes.icons@latest/css/nes-icons.min.css"/>
        <link rel="stylesheet" href="dist/css/reset.css">
        <link rel="stylesheet" href="dist/css/global.css">
        <link rel="stylesheet" href="dist/css/work-style.css">
        <link rel="stylesheet" href="dist/css/dataViewer/elementSVG.css">
        <link rel="stylesheet" href="dist/css/dataViewer/circle.css">
        <link rel="stylesheet" href="dist/css/dataViewer/line.css">
        <link rel="stylesheet" href="dist/css/dataViewer/tag.css">
        <link rel="stylesheet" href="dist/css/dataViewer/text.css">
        <link rel="stylesheet" href="dist/css/dataViewer/log.css">
	</head>
	<body class="scrollable body">
        <section class="container-box-control" id="controlBoxContainer">
            <div id="logContainer" class="container-log shell scrollable" >
            </div>
            <div class="container-input-shell shell" id="inputContainer">
                $
                <input id="comandInput" type="text" placeholder="comand" class="input"> 
            </div>                                                   
        </section>
        <section class="container-help-and-svg" id="contentContainer">
            <div class="container-panel-help" id="panelHelpContainer">
                <button class="btn orange" title="solution">
                    <i class="nes-icon star"></i>
                </button>
                <button class="btn red" title="back">
                    <i class="nes-icon times"></i>
                </button>
            </div>
            <div id="svgContainer" class="container-svg scrollable">
            </div>
        </section>
        <div id="particles-js"></div>
	</body>
    <!--PARTICLE JS-->
    <script src="dist/assets/lib/particles.min.js"></script>
    <script src="dist/assets/lib/particlesjs-config.json"></script>
    <script type="module" src="./dist/js/alone-mode-script.js"></script>
	<script type="module" src="./dist/js/userNotAuth-observer.js"></script>
</html>