<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>
        <link rel="stylesheet" href="https://unpkg.com/nes.icons@latest/css/nes-icons.min.css"/>
        <link rel="stylesheet" href="dist/css/reset.css">
        <link rel="stylesheet" href="dist/css/global.css">
        <link rel="stylesheet" href="dist/css/work-style.css">
        <link rel="stylesheet" href="dist/css/dataViewer/elementSVG.css">
        <link rel="stylesheet" href="dist/css/dataViewer/circle.css">
        <link rel="stylesheet" href="dist/css/dataViewer/line.css">
        <link rel="stylesheet" href="dist/css/dataViewer/tag.css">
        <link rel="stylesheet" href="dist/css/dataViewer/text.css">
        <link rel="stylesheet" href="dist/css/dataViewer/log.css">
        <link rel="stylesheet" href="dist/css/driverjs-style.css">

        <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
        <script>
            const REF_STORAGE_REPOSITORY = "local";
            const REF_STORAGE_REPOSITORY_CLOUD = null;
            const REF_STORAGE_LOG = "log";
        </script>
	</head>
	<body class="scrollable body">
        <section class="container-box-control" id="controlBoxContainer">
            <div id="logContainer" class="container-log shell scrollable" >
            </div>
            <div class="container-input-shell shell" id="inputContainer">
                $
                <input id="comandInput" type="text" placeholder="comand" class="input"> 
            </div>                                                   
        </section>
        <section class="container-help-and-svg" id="contentContainer">
            <div class="container-panel-help" id="panelHelpContainer">
                <button id="btnTutorial" class="btn orange btn-icon-string" title="solution">
                    <i class="nes-icon exclamation-circle"> </i>&nbsp;&nbsp;Tutorial
                </button>
                <button id="btnExit" class="btn red btn-only-icon" title="back">
                    <i class="nes-icon times"></i>
                </button>
            </div>
            <div id="svgContainer" class="container-svg scrollable">
            </div>
        </section>
	</body>
    <script type="module" src="./dist/js/drivejs-mode-script.js"></script>
    <script type="module" src="./dist/js/alone-mode-script.js"></script>
    <script type="module" src="./dist/js/mode-script.js"></script>
	<script type="module" src="./dist/js/userNotAuth-observer.js"></script>
</html>