<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="https://unpkg.com/nes.icons@latest/css/nes-icons.min.css"/>
        <link rel="stylesheet" href="dist/css/reset.css">
        <link rel="stylesheet" href="dist/css/global.css">
		<link rel="stylesheet" href="dist/css/error-style.css">
</head>
<body class=" body body-error scrollable">
	<div class="error-container">
		<h1 class="title-error text red">
			<i class="nes-icon ban"></i>
			<p>Error <%= error.status %></p>
		</h1>
		<p class="message-error text">
			<%= error.message %>
		</p>
	</div>
	<a class="btn green btn-only-icon"href="/">
		<i class="nes-icon caret-left"></i> Home
	</a>
	<div id="particles-js"></div>
	<!--PARTICLE JS-->
	<script src="dist/assets/lib/particles.min.js"></script>
	<script src="dist/assets/lib/particlesjs-config.json"></script>
	<!--OBSERVER Auth Observer-->
	<script type="module" src="dist/js/userNotAuth-observer.js"></script>
	<script type="module" src="dist/js/error-script.js"></script>
</body>
</html>