<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Git Col-Learning</title>
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<!-- --------- BOX ICONS ---------- -->

		<!-- CSS -->
		<link rel="stylesheet" href="dist/css/reset.css" />
		<link rel="stylesheet" href="dist/css/global.css" />
		<link rel="stylesheet" href="dist/css/icons-global.css" />
		<link rel="stylesheet" href="dist/css/home-style.css" />
		<link rel="stylesheet" href="dist/css/dialog-home-style.css" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="./dist/js/banner.js"></script>
	</head>
	<body class="body scrollable">
		<header class="home-header">
			<div class="nav-wrapper">
				<a href="/" class="logo">Git Col-Learning<br /><small>demo</small></a>
				<i class="icon-bars" id="menu-icon"></i>
				<nav class="home-navbar">
					<a href="#home" class="item-navbar active-link">Home</a>
					<a href="#overview" class="item-navbar">Overview</a>
					<a href="#usage-models" class="item-navbar">Usage Modes</a>
					<a href="#mision-vision" class="item-navbar">Mision & Vision</a>
					<a href="#about" class="item-navbar">About us</a>
					<div>
						<button class="btn orange btn-dialog">START!</button>
						<button class="btn green btn-dialog">Login</button>
					</div>
				</nav>
			</div>
		</header>
		<!--HOME SECTION DESING-->
		<section class="view-section-especial home-section" id="home">
			<div class="container-home-img">
				<img
					class="banner-home-img"
					src="dist/assets/img/home/logo.png"
					alt=""
				/>
			</div>
			<div class="content-home-section">
				<h3>Welcome to...</h3>
				<h1>The Adventure</h1>
				<h3>¡You can <span class="multiple-text"></span></h3>
				<p>
					Discover the power of Git in an exciting way! Welcome to our web
					platform designed for you to learn and practice the essential basics
					of Git.
				</p>
				<div class="social-media">
					<a
						class="btn red github-link"
						href="https://github.com/J4F3ET/UD.ProyectoDeGrado.GitCol-Learning"
					>
						<i class="icon-github"
							><span class="path1"></span><span class="path2"></span
							><span class="path3"></span><span class="path4"></span
							><span class="path5"></span
						></i>
					</a>
					<button class="btn orange btn-dialog">START!</button>
				</div>
			</div>
		</section>
		<!--OVERVIEW SECTION DESING-->
		<section class="view-section overview-section" id="overview">
			<h2 class="heading">
				Application <span class="multiple-text">Overview</span>
			</h2>
			<div class="overview-container">
				<div class="overview-img">
					<img
						loading="lazy"
						src="dist/assets/img/home/git-branchs.png"
						alt="The representation of git branchs in the application"
					/>
				</div>
				<div class="overview-content">
					<p>
						Immerse yourself in an interactive learning world and unlock your
						version control skills. The best part? Our collaborative mode allows
						you to work as a team, taking your skills to the next level. Join us
						and make your Git journey epic!
					</p>
				</div>
			</div>
		</section>
		<!--USAGE MODELS DESING-->
		<section class="view-section usage-models-section" id="usage-models">
			<h2 class="heading">Usage <span class="multiple-text">Models</span></h2>
			<div class="card usage-models-container">
				<div class="usage-models-item usage-models-single">
					<div class="usage-models-img">
						<img
							class="img_cat_with"
							loading="lazy"
							src="dist/assets/img/home/cat_white.webp"
							alt="The magic cat of GitCol Learning"
						/>
					</div>
					<h3 class="heading">
						<span class="multiple-text">Single </span>User Mode
					</h3>
					<div class="usage-models-content">
						<p>
							This mode is perfect for individuals who want to learn Git and
							version control. It is designed to be easy to use and accessible
							to beginners. The single user mode allows you to work on a single
							repository, making it ideal for personal projects or small teams.
						</p>
					</div>
				</div>
				<div class="usage-models-item usage-models-multi">
					<div class="usage-models-img">
						<img
							class="img_cats_with"
							loading="lazy"
							src="dist/assets/img/home/cats.webp"
							alt="The magic cat of GitCol Learning"
						/>
					</div>
					<h3 class="heading">
						<span class="multiple-text">Multi </span> User Mode
					</h3>
					<div class="usage-models-content">
						<p>
							This mode is perfect for teams who want to collaborate on a
							project using Git. It is designed to be easy to use and accessible
							to beginners. The coperative mode allows you to work on multiple
							repositories, making it ideal for teams or large projects.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!--MISION AND VISION SECTION DESING-->
		<section
			id="mision-vision"
			class="container-mision-vision-section view-section"
		>
			<!--MISION SECTION DESING-->
			<div class="item-mision-vision-section">
				<div class="container-mision-vision-img container-img-mision">
					<img
						class="img-mision-vision"
						loading="lazy"
						src="dist/assets/img/home/mision-vision-1.webp"
						alt="Computer room with a presentation of the git col learning application on a large screen."
					/>
				</div>
				<div class="card content-mision-vision">
					<h2 class="heading">
						<span class="multiple-text">Mision</span> of proyect
					</h2>
					<p>
						Facilitate learning of the Git tool through an interactive,
						accessible, and comprehensive platform, enabling students to enhance
						their version control skills through both individual and
						collaborative practice, while strengthening their technical
						capabilities in software development environments.
					</p>
				</div>
			</div>
			<!--VISION SECTION DESING-->
			<div class="item-mision-vision-section">
				<div class="content-mision-vision card">
					<h2 class="heading">
						<span class="multiple-text"> Vision </span> of proyect
					</h2>
					<p>
						To be the preferred platform for students and educators to start
						learning Git, facilitating the process of learning and practicing in
						the best possible way Git, facilitating the process of learning and
						practicing in the best possible way.
					</p>
				</div>
				<div class="container-mision-vision-img container-img-vision">
					<img
						class="img-mision-vision"
						loading="lazy"
						src="dist/assets/img/home/mision-vision-2.webp"
						alt="Room of computer, with a person see the computer"
					/>
				</div>
			</div>
		</section>
		<!--ABOUT US SECTION DESING-->
		<section class="view-section about" id="about">
			<h2 class="heading">About us</h2>
			<div class="container_perfile_card">
				<p>
					In our project, we realized that many technology students struggle
					with using Git, an essential tool for teamwork in software projects.
					This limitation hinders their ability to collaborate and deliver
					quality work. That’s why we created this application: to make learning
					Git easier and help students master this fundamental skill, enhancing
					their performance in academic projects and preparing them for the
					professional world.
				</p>
				<div class="perfile_card">
					<div class="perfile_card-photo">
						<img
							loading="lazy"
							alt="Danna Sepulveda"
							src="https://i.pinimg.com/736x/35/2f/61/352f616d659e702365d3524580d2b9a8.jpg"
						/>
					</div>
					<div class="perfile_card-title">Danna Sepulveda</div>
					<div class="perfile_card-socials">
						<a
							class="perfile_card-socials-btn github"
							href="https://github.com/Chocolatamargo2607"
						>
							<i class="icon-github"
								><span class="path1"></span><span class="path2"></span
								><span class="path3"></span><span class="path4"></span
								><span class="path5"></span
							></i>
						</a>

						<a class="perfile_card-socials-btn linkedin" href="#">
							<i class="icon-linkedin white"></i>
						</a>
					</div>
				</div>
				<div class="perfile_card">
					<div class="perfile_card-photo">
						<img
							src="dist/assets/img/home/jafet.webp"
							alt="Jafet Lopez"
							lazy="loading"
						/>
					</div>
					<div class="perfile_card-title">Jafet Lopez</div>
					<div class="perfile_card-socials">
						<a
							class="perfile_card-socials-btn github"
							href="https://github.com/J4F3ET"
						>
							<i class="icon-github"
								><span class="path1"></span><span class="path2"></span
								><span class="path3"></span><span class="path4"></span
								><span class="path5"></span
							></i>
						</a>

						<a
							class="perfile_card-socials-btn linkedin"
							href="https://www.linkedin.com/in/jafet-lopez-zuñiga"
						>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</section>
		<div id="particles-js"></div>
		<!--FOOTER SECTION DESING-->
		<footer class="footer">
			<div class="footer-text">
				<p>Copyright &copy; 2024 by Jafet Lopez | All Rights Reserved.</p>
				<p>Contact: gitcollearning@gmail.com</p>
			</div>
			<a class="btn orange" href="#home">
				<strong> Up!<i class="icon-caret-up white"></i> </strong>
			</a>
		</footer>
		<!-- --------- DIALOGS --------- -->
		<!-- DIALO SELECT TO MODE -->
		<dialog id="dialogSelectMode" class="dialog" data-mode="multi">
			<section class="view-section container_dialog">
				<div class="btn_dialog_close">
					<button
						data-dialog="dialogSelectMode"
						class="close_dialog btn-times btn red"
					>
						<i data-dialog="dialogSelectMode" class="icon-times white"></i>
					</button>
				</div>
				<div class="section_dialog info">
					<div class="section_dialog_item">
						<h2 class="title_dialog">Select mode</h2>
						<p class="text_dialog">Choose the mode you want to use</p>
					</div>

					<div class="section_dialog_item group_buttons_dialog no-wrap-buttons">
						<button class="btn_dialog_coursel">
							<i
								data-orientation="left"
								class="icon-caret-left white btn arrow"
							></i>
						</button>
						<div class="btn_dialog_coursel">
							<h3 class="subtitle_mode dialog_block_course">
								Single user mode
							</h3>
						</div>
						<button class="btn_dialog_coursel">
							<i
								data-orientation="right"
								class="icon-caret-right white btn arrow"
							></i>
						</button>
					</div>
					<div class="section_dialog_item">
						<button id="btn_select_mode" class="btn_dialog btn_init btn red">
							Start!
						</button>
					</div>
				</div>
				<div class="section_dialog img">
					<div class="section_dialog_item img dialog_block_img">
						<img
							loading="lazy"
							class="img_cat single"
							src="dist/assets/img/home/cat_white.webp"
							alt=""
						/>
					</div>
				</div>
			</section>
		</dialog>
		<!-- END DIALOG SELECT TO MODE -->

		<!-- DIALOG SINGLE MODE  -->
		<dialog id="dialog_single" class="dialog second">
			<section class="view-section container_dialog">
				<div class="btn_dialog_close">
					<button
						data-dialog="dialog_single"
						class="close_dialog btn-times btn red"
					>
						<i data-dialog="dialog_single" class="icon-times white"></i>
					</button>
				</div>
				<div class="section_dialog info">
					<div class="section_dialog_item">
						<h2 class="title_dialog">Single mode</h2>
						<p class="text_dialog">Select type to use</p>
					</div>
					<div
						class="section_dialog_item info_mode scrollable dialog_block_info"
					>
						GitCol Learning: No Registration Required, Embrace Flexibility in
						Single User Mode
					</div>
					<div class="section_dialog_item">
						<a href="/aloneMode" class="btn_init btn red">git init</a>
					</div>
				</div>
				<div class="section_dialog img">
					<div class="section_dialog_item img dialog_block_img">
						<img
							loading="lazy"
							class="img_cat single"
							src="dist/assets/img/home/cat_white.webp"
							alt=""
						/>
					</div>
				</div>
			</section>
		</dialog>
		<!-- END DIALOG SINGLE MODE -->

		<!-- DIALOG MULTI MODE  -->
		<dialog id="dialog_multi" class="dialog second">
			<section class="view-section container_dialog">
				<div class="btn_dialog_close">
					<button
						data-dialog="dialog_multi"
						class="close_dialog btn-times btn red"
					>
						<i data-dialog="dialog_multi" class="icon-times white"></i>
					</button>
				</div>
				<div class="section_dialog info">
					<div class="section_dialog_item">
						<h2 class="title_dialog">Multi mode</h2>
						<p class="text_dialog">Select a supplier to log in</p>
					</div>
					<div class="section_dialog_item group_buttons_dialog">
						<button
							id="googleLogin"
							data-dialog="dialog_multi"
							class="item_dialog close_dialog btn orange"
						>
							<div
								data-dialog="dialog_multi"
								class="icon-provider-container-dialog"
							>
								<p data-dialog="dialog_multi">Gmail</p>
							</div>
						</button>
						<button
							id="microsoftLogin"
							data-dialog="dialog_multi"
							class="item_dialog close_dialog btn orange"
						>
							<div
								data-dialog="dialog_multi"
								class="icon-provider-container-dialog"
							>
								<p data-dialog="dialog_multi">Microsoft</p>
							</div>
						</button>
						<button
							id="githubLogin"
							data-dialog="dialog_multi"
							class="item_dialog close_dialog btn orange"
						>
							<div
								data-dialog="dialog_multi"
								class="icon-provider-container-dialog"
							>
								<p data-dialog="dialog_multi">GitHub</p>
							</div>
						</button>
					</div>
				</div>
				<div class="section_dialog img">
					<div class="section_dialog_item img dialog_block_img">
						<img
							loading="lazy"
							class="img_cat multi"
							src="dist/assets/img/home/cats.webp"
							alt="Multi user mode"
						/>
					</div>
				</div>
			</section>
		</dialog>
		<!-- END DIALOG MULTI MODE -->
		<!-- --------- END DIALOGS ---------- -->
		<!-- --------- SCROLL REVEAL ---------- -->
		<!--SCROLL REVEAL-->
		<script src="https://unpkg.com/scrollreveal"></script>
		<!--TYPED JS-->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<!--CUSTOM JS-->
		<script src="dist/js/dialogs-home-script.js"></script>
		<script src="dist/js/home-script.js"></script>
		<script type="module" src="dist/js/login-script.js"></script>
		<!--PARTICLE JS-->
		<script src="dist/assets/lib/particles.min.js"></script>
		<script src="dist/assets/lib/particlesjs-config.json"></script>
	</body>
</html>
