<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Col-Learning</title>
    <link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
   
    <!-- --------- BOX ICONS ---------- -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/home-style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Gif Col-Learning</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active-link">Home</a>
            <a href="#overview">Overview</a>
            <a href="#levels">Levels</a>
            <a href="#mision">Mision & Bision</a>
            <a href="#about">About us</a>
            <!--boton-->
            <a href="#" class="btn">START!</a>
        </nav>
    </header>
    <!--HOME SECTION DESING-->
    <section class="home" id="home">
        <div class="home-img">
            <img src="dist/assets/img\teaser/Logo.png" alt="">
        </div>
        <div class="home-content">
            <h3>Welcome to... </h3>
            <h1>The Adventure</h1>
            <h3>¡You can <span class="multiple-text"></span></h3>
            <p>¡Descubre el poder de Git de una manera emocionante!
                Bienvenido a nuestra plataforma web diseñada para que aprendas y practiques las bases esenciales de Git.</p>
            <div class="social-media">
                <a href="https://github.com/J4F3ET/UD.ProyectoDeGrado.GitCol-Learning"><i class='bx bxl-github' ></i></a>
            </div>
        </div>

    </section>

    <!--OVERVIEW SECTION DESING-->
    <section class="overview" id="overview">
        <div class="card1">
            <div class="overview-img">
                <img src="dist/assets/img\teaser/principalCat.png" alt="">
            </div>
            <div class="overview-content">
                <h2 class="heading">Application <span> Overview </span></h2>
                <p>Sumérgete en un mundo de aprendizaje interactivo y desbloquea tus habilidades de control de versiones. 
                ¿Lo mejor? Nuestro modo colaborativo te permite trabajar en equipo, llevando tus habilidades al siguiente nivel. 
                ¡Únete a nosotros y haz que tu viaje con Git sea épico!"</p>
            </div>
        </div>
    </section>

    <!--LEVELS SECTION DESING-->
    <section class="levels" id="levels">
        <h2 class="heading">Levels</h2>
        <div class="levels-container">
            <div class="levels-box">
                <i class='bx bx-expand-horizontal' ></i>
                <h3>Beginner</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="levels-box">
                <i class='bx bx-expand-vertical' ></i>
                <h3>Intermedium</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="levels-box">
                <i class='bx bx-collapse-horizontal' ></i>
                <h3>Advanced</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
    </section>

    <!--MISION SECTION DESING-->
    <section class="mision" id="mision">
            <div class="mision-img">
                <img src="https://i.redd.it/zym5pybotlja1.gif" alt="">
            </div>
            <div class="mision-content">
                <h2 class="heading1">Mision of<span> proyect</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
    </section>
    
    <!--BISION SECTION DESING-->
    <section class="bision" id="bision">
        <div class="bision-content">
            <h2 class="heading1">Bision of<span> proyect</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="bision-img">
            <img src="https://38.media.tumblr.com/a401eaca1220428dc37379cbd7312e16/tumblr_nv44lndz1l1u6xnmoo1_1280.gif" alt="">
        </div>
</section>

    <!--ABOUT US SECTION DESING-->
    <section class="about" id="about">
        <h2 class="heading">About us</h2>
        <div class="about-container">
            <div id="card2">
                <h1>Danna Sepulveda</h1>
                <div class="image-crop">
                    <img id="avatar" src="https://i.pinimg.com/736x/35/2f/61/352f616d659e702365d3524580d2b9a8.jpg"></img>
                </div>
                <div id="bio">
                    <p>Hello, my name is Danna! Chipi chipi chapa chapa Dubi dubi daba daba Mágico mi dubi dubi Bum, bum, bum, bum. </p>
                </div>
                <div id="stats">
                    <div class="col">
                        <p class="stat">108</p>
                        <p class="label">Proyect</p>
                    </div>
                            <div class="col">
                        <p class="stat">457</p>
                        <p class="label">.....</p>
                    </div>
                </div>
                <div id="buttons">
                    <form>
                        <button type="submit" formaction="https://github.com/Chocolatamargo2607">Git-hub</button>
                    </form>
                    <form>
                        <button id="msg" type="submit" formaction="">Message</button>
                    </form>
                </div>
            </div>
            <div id="card3">
                <h1>Jafet Lopez </h1>
                <div class="image-crop">
                    <img id="avatar" src="https://i.pinimg.com/564x/f8/41/b0/f841b07404202d58bab4aec4a9680192.jpg"></img>
                </div>
                <div id="bio">
                    <p>Hello, my name is Jafet! Chipi chipi chapa chapa Dubi dubi daba daba Mágico mi dubi dubi Bum, bum, bum, bum. </p>
                </div>
                <div id="stats">
                    <div class="col">
                        <p class="stat">108</p>
                        <p class="label">Proyect</p>
                    </div>
                            <div class="col">
                        <p class="stat">457</p>
                        <p class="label">.....</p>
                    </div>
                </div>
                <div id="buttons">
                    <form>
                        <button type="submit" formaction="https://github.com/J4F3ET">Git-hub</button>
                    </form>
                    <form>
                        <button id="msg" type="submit" formaction="https://www.linkedin.com/in/jafet-lopez-zu%C3%B1iga/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Linkedin</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div id="particles-js"></div>

    <!--FOOTER SECTION DESING-->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Jafet Lopez | All Rights Reserved.</p>
            <p>Contact: gitcollearning@gmail.com</p>
        </div>
        <div class="footer-icontop">
            <a href="#home"><i class='bx bx-chevron-up'></i></a>
        </div>

    </footer>

    <!--SCROLL REVEAL-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--TYPED JS-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!--CUSTOM JS-->
    <script src="dist/js/home-script.js"></script>

     <!--PARTICLE JS-->
     <script src="dist/assets/lib/particles.min.js"></script>
     <script src="dist/assets/lib/particlesjs-config.json"></script>
</body>
</html>