<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="dist/css/selection-style.css">
	</head>
	<body>

        <header class="header">  
            <div class="back">
                <a href="working"><i class='bx bx-caret-left-circle'></i>Back</a>
            </div>    
        </header>
        
        
        <!--LOGIN DESING-->
        <section class="login" id="login">
            <h2 class="heading">LOGIN...</h2>
            <div id="card"> 
                    <button id="googleLogin">Google  <i class='bx bxl-google' ></i></button>
                    <button id="githubLogin">GitHub  <i class='bx bxl-github'></i></button> 
            </div>
            </div>
        </section>

    
        <!--FOOTER SECTION DESING-->

        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Jafet Lopez | All Rights Reserved.</p>
                <p>Contact: gitcollearning@gmail.com</p>
            </div>
        </footer>
    
        <div id="particles-js"></div>
		
	</body>

     <!-- --------- BOX ICONS ---------- -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<script type="module" src="./dist/js/userNotAuth-observer.js"></script>
	<script type="module" src="./dist/js/login-script.js"></script>

   <!--PARTICLE JS-->
   <script src="dist/assets/lib/particles.min.js"></script>
   <script src="dist/assets/lib/particlesjs-config.json"></script>
</html>