<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>roomManager</title>
	</head>
	<body>
		<h1>Logiado</h1>
		<button id="logout">Logout</button>
		<img src="./dist/assets/img/teaser/background.jpg" alt="" />
	</body>
	<script type="module" src="./dist/js/logout.js"></script>
</html>
