<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Col-Learning</title>
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="dist/css/room-style.css" />
	</head>
	<body>
		<div class="back">
			<a id="btnLogout" href="#"><i class="bx bx-caret-left-circle"></i>Logout</a>
		</div>
		<div class="room">
			<form action="" class="room__form">
				<h1 class="room__title">Rooms</h1>
				<div class="room__inputs">
					<div class="room__box">
						<input type="code" placeholder="ID" required class="room__input" />
						<i class="ri-lock-2-fill"></i>
					</div>
				</div>
				<button type="submit" class="room__button">Login</button>
				<div class="room__register">Not logged in ? <a href="#">Help</a></div>
			</form>
			<button id="btnCreateRoom" class="room__button">Crear Sala</button>
		</div>
		<dialog id="dialogCreateRoom">
			<form class="room__form dialog_form" method="dialog">
				<h1 class="room__title">Crear Sala</h1>
				<div class="room__inputs">
					<div class="room__box">
						<input class="room__input" type="text" placeholder="Code" required />
					</div>
				</div>
				<div class="room__inputs">
					<div class="room__box">
						<input class="room__input" type="text" placeholder="Description" required />
					</div>
				</div>
				<div class="room__inputs">
					<div class="room__box">
						<select name="selectLevelChallenge" id="selectLevelChallenge">
							<option value="0">Beginner</option>
							<option value="1">Intermediate</option>
							<option value="2">Advanced</option>
						</select>
					</div>
				</div>
				<div class="room__inputs">
					<div class="room__box">
						<select name="selectChallenge" id="selectChallenge" disabled>
						</select>
					</div>
				</div>
				<button id="btnCancelCreateRoom" type="reset">Clear</button>
				<button type="submit">Create</button>
			</form>
		</dialog>

		<div id="particles-js"></div>
	</body>

	<!--=============== REMIXICONS ===============-->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
		crossorigin=""
	/>

	<script type="module" src="./dist/js/userAuth-observer.js"></script>
	<script type="module" src="./dist/js/rooms-script.js"></script>

	<!--PARTICLE JS-->
	<script src="dist/assets/lib/particles.min.js"></script>
	<script src="dist/assets/lib/particlesjs-config.json"></script>
</html>
