<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Col-Learning</title>
		<link
			async
			rel="shortcut icon"
			href="/dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<!-- --------- BOX ICONS ---------- -->

		<!-- CSS -->
		<link rel="stylesheet" href="dist/css/reset.css" />
		<link rel="stylesheet" href="dist/css/global.css" />
		<link async rel="stylesheet" href="dist/css/font-global.css" />
		<link async rel="stylesheet" href="dist/css/icons-global.css" />
		<link async rel="stylesheet" href="dist/css/cursor-global.css" />

		<link defer rel="stylesheet" href="dist/css/room-style.css" />

		<!--PARTICLE JS-->
		<script defer src="dist/assets/lib/particles.min.js"></script>
		<script defer src="dist/assets/lib/particlesjs-config.json"></script>
	</head>
	<body>
		<div class="back">
			<a class="btn red" href="/">
				<i class="icon-caret-left"></i>
				Home
			</a>
		</div>
		<div class="room">
			<form autocomplete="off" class="room__form">
				<h1 class="room__title">Room</h1>
				<div class="room__inputs">
					<Label> Code </Label>
					<div id="inputCodeRoomToLogin" class="room__box">
						<span>
							<i class="icon-search"></i>
						</span>
						<input
							id="inputSearchRoomCode"
							type="code"
							placeholder="Enter code"
							pattern="[A-Z0-9]+"
							title="Only letters and numbers are allowed"
							minlength="4"
							maxlength="8"
							required
							class="room__input"
						/>
					</div>
					<small class="small">Write the code for the room</small>
					<small class="small">
						<ul id="listRequirementsRoomLogin">
							<li class="invalidRequirements" id="validLetterAndNumberSearch">
								Only letters and numbers are allowed
							</li>
							<li class="invalidRequirements" id="validMinCharactersSearch">
								Minimum 4 characters
							</li>
							<li class="invalidRequirements" id="validMaxCharactersSearch">
								Maximum 8 characters
							</li>
						</ul>
					</small>
				</div>
				<button
					disabled
					id="btnLoginToRoom"
					type="submit"
					class="btn green width"
				>
					Login
				</button>
				<div id="helpLoginToRoom" class="room__register">
					Not logged in ? Help
				</div>
			</form>
			<button id="btnFindRoom" class="btn width">Search room</button>
			<button id="btnCreateRoom" class="btn width">Create room</button>
		</div>
		<!-- INIT DIALOG CREATE ROOM -->
		<dialog class="dialog" id="dialogCreateRoom">
			<div class="container_dialog">
				<form autocomplete="off" class="dialog_form" method="dialog">
					<h1 class="room__title">Create Room</h1>
					<div class="room__inputs">
						<label for="inputRoomCode">Code</label>
						<div class="room__box">
							<i class="icon-exclamation-circle"></i>
							<input
								id="inputRoomCode"
								class="room__input"
								type="text"
								placeholder="Enter code "
								pattern="[A-Z0-9]+"
								title="Only letters and numbers are allowed"
								minlength="4"
								maxlength="8"
								required
							/>
						</div>
						<small class="small"> Write the code for the room </small>
						<small class="small">
							<ul>
								<li class="invalidRequirements" id="validLetterAndNumber">
									Only letters and numbers are allowed
								</li>
								<li class="invalidRequirements" id="validMinCharacters">
									Minimum 4 characters
								</li>
								<li class="invalidRequirements" id="validMaxCharacters">
									Maximum 8 characters
								</li>
								<li class="invalidRequirements" id="validRoomCode">
									The code is already in use
								</li>
							</ul>
						</small>
					</div>
					<div class="room__inputs">
						<label for="inputRoomDescription"
							>Description <small class="small red">*</small></label
						>
						<div class="room__box">
							<i class="icon-bars"></i>
							<input
								id="inputRoomDescription"
								class="room__input"
								type="text"
								placeholder="Description"
								pattern="^(.|\s)*[a-zA-Z]+(.|\s)*$"
								title="Only letters and numbers are allowed"
								maxlength="100"
							/>
						</div>
						<small class="small">Write the subject of the room</small>
					</div>
					<div class="room__inputs container_checkBox">
						<label for="inputRoomHidden">Room public</label>
						<div class="room__checkbox">
							<input id="inputRoomHidden" class="room__input" type="checkbox" />
						</div>
						<small class="small blue">
							Check this box if you want the room to be public and visible to
							other users
						</small>
					</div>
					<div class="room__buttons">
						<button class="btn red" id="btnCancelCreateRoom" type="reset">
							Close
						</button>
						<button
							class="btn green"
							id="btnSubmitCreateRoom"
							disabled
							type="submit"
						>
							Create
						</button>
					</div>
				</form>
			</div>
		</dialog>
		<!-- END DIALOG CREATE ROOM -->

		<!-- INIT DIALOG SEARCH ROOM -->
		<dialog class="dialog" id="dialogSearchRoom">
			<div class="container_dialog_start">
				<div class="container_dialog_item">
					<div class="dialog_item row">
						<h1 class="dialog_title">Search Room</h1>
						<div class="dialog_input">
							<div class="room__inputs">
								<div class="room__box">
									<input
										id="inputFindRoomCode"
										class="room__input"
										type="text"
										placeholder="Enter code"
										pattern="[A-Z0-9]+"
										title="Only letters and numbers are allowed"
										minlength="4"
										maxlength="8"
										required
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="dialog_item">
						<button class="btn_dialog_close btn red" id="btnCancelSearchRoom">
							X
						</button>
					</div>
				</div>
				<div class="container_dialog_item">
					<div id="container_rooms_public" class="container_card">
						<div class="card">
							<div class="card__header">
								<h2 class="card__title">Room</h2>
								<p class="card__description">Description</p>
							</div>
							<div class="card__body">
								<div class="card__info">
									<p class="card__code">Code: <span>Code</span></p>
									<p class="card__level">Level: <span>Level</span></p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card__header">
								<h2 class="card__title">Room</h2>
								<p class="card__description">Description</p>
							</div>
							<div class="card__body">
								<div class="card__info">
									<p class="card__code">Code: <span>Code</span></p>
									<p class="card__level">Level: <span>Level</span></p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card__header">
								<h2 class="card__title">Room</h2>
								<p class="card__description">Description</p>
							</div>
							<div class="card__body">
								<div class="card__info">
									<p class="card__code">Code: <span>sadasd</span></p>
									<p class="card__users">Users: <span>3</span></p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card__header">
								<h2 class="card__title">Room</h2>
								<p class="card__description">Description</p>
							</div>
							<div class="card__body">
								<div class="card__info">
									<p class="card__code">Code: <span>Code</span></p>
									<p class="card__level">Level: <span>Level</span></p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card__header">
								<h2 class="card__title">Room</h2>
								<p class="card__description">Description</p>
							</div>
							<div class="card__body">
								<div class="card__info">
									<p class="card__code">Code: <span>Code</span></p>
									<p class="card__level">Level: <span>Level</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<!-- END DIALOG SEARCH ROOM -->
		<div id="particles-js"></div>
	</body>

	<!--=============== REMIXICONS ===============-->
	<link
		async
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
		crossorigin=""
	/>
	<!-- Script -->
	<script async type="module" src="/dist/js/rooms-script.js"></script>

	<!-- Drivejs -->
	<link async rel="stylesheet" href="dist/css/driverjs-style.css" />
	<script
		async
		src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"
	></script>
	<!-- Banner -->
	<script async src="/dist/js/banner.js"></script>
	<!-- SweetAlert2 -->
	<script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
