<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Col-Learning</title>
   
    <!-- --------- BOX ICONS ---------- -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/style-home.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Gif Col-Learning</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active-link">Home</a>
            <a href="#overview">Overview</a>
            <a href="#levels">Levels</a>
        </nav>
    </header>
    
    <!--HOME SECTION DESING-->
    <section class="home" id="home">
        <div class="home-img">
            <img src="dist/assets/img\teaser/Logo.png" alt="">
        </div>
        <div class="home-content">
            <h3>Welcome to... </h3>
            <h1>The Adventure</h1>
            <h3>¡You can <span class="multiple-text"></span></h3>
            <p>¡Descubre el poder de Git de una manera emocionante!
                Bienvenido a nuestra plataforma web diseñada para que aprendas y practiques las bases esenciales de Git.</p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://github.com/J4F3ET/UD.ProyectoDeGrado.GitCol-Learning"><i class='bx bxl-github' ></i></a>
            </div>
            
            <!--boton-->
            <a href="#" class="btn">About us</a>
        </div>

    </section>

    <!--OVERVIEW SECTION DESING-->
    <section class="overview" id="overview">
        <div class="card1">
            <div class="overview-img">
                <img src="dist/assets/img\teaser/principalCat.png" alt="">
            </div>
            <div class="overview-content">
                <h2 class="heading">Application <span> Overview </span></h2>
                <p>Sumérgete en un mundo de aprendizaje interactivo y desbloquea tus habilidades de control de versiones. 
                ¿Lo mejor? Nuestro modo colaborativo te permite trabajar en equipo, llevando tus habilidades al siguiente nivel. 
                ¡Únete a nosotros y haz que tu viaje con Git sea épico!"</p>
            </div>
        </div>
    </section>

    <!--LEVELS SECTION DESING-->
    <section class="levels" id="levels">
        <h2 class="heading">Levels</h2>
        <div class="levels-container">
            <div class="levels-box">
                <i class='bx bx-expand-horizontal' ></i>
                <h3>Beginner</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="levels-box">
                <i class='bx bx-expand-vertical' ></i>
                <h3>Intermedium</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            
            <div class="levels-box">
                <i class='bx bx-collapse-horizontal' ></i>
                <h3>Advanced</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
    </section>

    <!--FOOTER SECTION DESING-->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Jafet Lopez | All Rights Reserved.</p>
            <p>Contact: gitcollearning@gmail.com</p>
        </div>
        <div class="footer-icontop">
            <a href="#home"><i class='bx bx-chevron-up'></i></a>
        </div>

    </footer>

    <!--SCROLL REVEAL-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--TYPED JS-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!--CUSTOM JS-->
    <script src="dist/js/script-home.js"></script>
</body>
</html>