<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title>Login</title>
	</head>
	<body>
		<h1>Hola</h1>
		<button id="googleLogin">Google</button>
		<button id="githubLogin">GitHub</button>
		<button id="logout">Logout</button>
	</body>
	<script type="module" src="./dist/js/userNotAuthObserver.js"></script>
	<script type="module" src="./dist/js/login.js"></script>
</html>
