<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="dist/css/selection-style.css">
	</head>
	<body>
        <header class="header">  
            <div class="back">
                <a href="home"><i class='bx bx-caret-left-circle'></i>Back</a>
            </div>    
        </header>
        
        <!--TYPE WORKING-->
        <section class="login" id="login">
            <div id="card">
                <h2 class="heading">TYPE WORKING...</h2>
                <button id="alone">Working alone <i class='bx bxs-user'></i></button>
                <button id="team">Working in a team <i class='bx bxs-user-plus'></i></button>
            </div>
            <!--MODALS-->
		<dialog id="dialogSelectLevel" >
			<div class="container_dialog">
				<form class="dialog_form" method="dialog">
					<h1 class="modal__title">Select the level</h1>
					<div class="modal__buttons">
						<button id="btnCreateRoom" class="modal__button">Beginner</button>
						<button id="btnCreateRoom" class="modal__button">Intermedium</button>
						<button id="btnCreateRoom" class="modal__button">Advanced</button>	
						<button id="btnClose" class="modal__button red" type="reset">Close</button>
					</div>
				</form>
			</div>
		</dialog>		
		<dialog id="dialogSelectChallenge">
			<div class="container_dialog">
				<form class="dialog_form" method="dialog">
					<h1 class="modal__title">Select the level</h1>
					<div class="modal__buttons">
						<div></div>
						<button id="btnCreateRoom" class="modal__button">Theme 1</button>
						<button id="btnCreateRoom" class="modal__button">Theme n^-1</button>
						<button id="btnClose" class="modal__button back" type="reset">Back</button>					
					</div>
				</form>				
			</div>			
		</dialog>

        </section>

    
        <!--FOOTER SECTION DESING-->

        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Jafet Lopez | All Rights Reserved.</p>
                <p>Contact: gitcollearning@gmail.com</p>
            </div>
        </footer>
    
        <div id="particles-js"></div>
		
	</body>

     <!-- --------- BOX ICONS ---------- -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<script type="module" src="./dist/js/userNotAuth-observer.js"></script>
    <script type="module" src="./dist/js/working-script.js"></script>

    <!--PARTICLE JS-->
    <script src="dist/assets/lib/particles.min.js"></script>
    <script src="dist/assets/lib/particlesjs-config.json"></script>
</html>