<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="dist/css/wk-alone-style.css">
	</head>
	<body>
        <div id="content">
            <div id="card">                                 
                    <div id="room__inputs">
                          <input type="code" placeholder="code" required class="room__input">                          
                    </div>
            </div> 
            <div id="card1">                     
                <div id="card2">
                    <a href="" class="btn">"Solution"</a>
                    <a href="" class="btn"><i class='bx bx-x-circle'></i></a>
                </div>
                <div id="card3"></div>
            </div>     
        </div>	
	</body>

     <!-- --------- BOX ICONS ---------- -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<script type="module" src="./dist/js/userNotAuthObserver.js"></script>
	<script type="module" src="./dist/js/login.js"></script>
</html>