<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="./dist/assets/fav-icon.ico"
			type="image/x-icon"
		/>
		<title> Col-Learning</title>
        <link rel="stylesheet" href="dist/css/wk-alone-style.css">
	</head>
	<body class="scrollable">
        <section id="controlBoxContainer">
            <div id="logContainer" class="shell scrollable" >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo magni dignissimos rerum tenetur sint nobis nulla dicta omnis fuga placeat, magnam a cum accusantium architecto velit beatae provident labore animi!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nam aperiam, obcaecati deleniti voluptatibus consequatur repellat facere voluptatem consequuntur? Minus aspernatur nobis asperiores nesciunt quos cupiditate eos eius repudiandae porro?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae unde et alias aliquam tenetur? Praesentium distinctio ratione corrupti accusamus dolor repellat molestias debitis? Nemo magni doloremque voluptatibus temporibus facere sequi?
            </div>
            <div id="inputContainer" class="shell">
                $
                <input id="comandInput" type="text" placeholder="comand" class="input"> 
            </div>                                                   
        </section>
        <section id="contentContainer">
            <div id="panelHelpContainer">
                <button class="btn">Solution</button>
                <button class="btn"><i class='bx bx-x-circle'></i></button>
            </div>
            <div id="svgContainer" class="scrollable"></div>
        </section>
	</body>
    <!-- SVG Assets -->
    <div hidden>
        <svg width="0" height="0"  baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <marker id="triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="rgba(100,100,100,0.8)" markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
                <path d="M 0 0 L 10 5 L 0 10 z"></path>
            </marker>
            <marker id="faded-triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="#DDD" markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
                <path d="M 0 0 L 10 5 L 0 10 z"></path>
            </marker>
            <marker id="brown-triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="rgba(100,100,100,0.8)" markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
                <path d="M 0 0 L 10 5 L 0 10 z"></path>
            </marker>
        </svg>
    </div>
    <!-- --------- BOX ICONS ---------- -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="./dist/js/working-alone-script.js"></script>
	<script type="module" src="./dist/js/userNotAuth-observer.js"></script>
</html>